<%= render partial: 'shared/navbar', locals: { navbar_title: 'Add Transaction', left_button: group_purchases_path(@group), right_button: 'Search'} %>

<%= form_with model: [@group, @purchase] do |f| %>
  <section class="flex flex-col py-4 gap-4 bg-[#F0F2F1] mt-2">
    <div class="field">
      <%= f.text_field :name, placeholder: 'Transaction name', value: '', required: true, class: "w-full border-gray-200"%>
    </div>

    <div class="field">
      <%= f.number_field :amount, placeholder: "Pay amount", class: "w-full border-gray-200" %>
    </div>

    <div class="p-4 bg-white flex flex-col">
      <%= fields_for :group_entities do |group_purchase| %>
        <%= group_purchase.label :group_id, class: "mr-2" %>
        <div class="flex flex-wrap gap-2 items-center">
          <%= group_purchase.collection_check_boxes :group_id, Group.all, :id, :name, { multiple: true } %>
        </div>
        <%= group_purchase.hidden_field :purchase_id, value: @purchase.id %>
      <%end%>
    </div>

    <div class="fixed bottom-0 w-full items-center justify-center bg-secondary p-4 border-t-2 border-gray-400 shadow-md">
      <%= f.submit "Create Transaction", class: "block w-full p-4 text-center uppercase bg-transparent border-2 border-white text-white" %>
    </div>
  </section>
<%end%>